/* Global styles */
body {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-image: url('pictures/blackbees.jpg'); /* Ensure the image path is correct */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0; /* Reset margin */
    display: flex; /* Ensure it centers content */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height for centering */
}

/* Header styles */
header {
    margin-bottom: 20px;
    margin-top: 45px;
}

/* Profile picture styles */
.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    margin: 0 auto;
}

/* Typography styles */
h1, p {
    margin: 10px 0;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

p.spidey-text, p.copyright {
    color: #777;
    display: flex;
    justify-content: center;
    margin: 0; /* Remove margin */
}

/* Social icons container */
.social-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between icons */
    margin-bottom: 20px; /* Space below icons */
}

/* Individual social icon styles */
.social-icon {
    text-decoration: none;
    font-size: 40px; /* Size of the icons */
    color: #fff; /* Default icon color */
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* Glowing effect */
.social-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s ease-in-out;
}

.social-icon:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

.social-icon:hover {
    color: #f39c12; /* Change color on hover */
}

.social-icon:hover i {
    filter: drop-shadow(0 0 10px #f39c12) drop-shadow(0 0 20px #f39c12);
}

/* Footer styles */
footer {
    margin-top: 20px;
}

/* Additional styles */
.snowfall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Snowflake animations */
.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
