/* style.css */

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 20px 0; /* Adds space inside the body, instead of pushing it away from the edges */
    text-align: center;
    color: #fff; /* White text for better visibility */
   /* user-select: none;  Prevents text selection */
    
    background-image: url('pictures/blackbees.jpg'); /* Correct image path */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Keep background static when scrolling */
    background-repeat: no-repeat; /* Prevents repetition of the background image */
}


header {
    margin-bottom: 20px;
    margin-top: 45px; /* Added space at the top */
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Create a circular frame */
    overflow: hidden; /* Ensure content stays within the circular frame */
    background-size: cover;
    margin: 0 auto; /* Center the profile picture */
}

h1, p {
    margin: 10px 0;
}

h1 {
    font-family: 'Ubuntu', sans-serif; /* Set the font-family to Ubuntu */
    font-weight: bold; /* Set the text to normal weight (not bold) */
        margin: 7px 0; /* Adjust the top and bottom margin as needed */
}

p.spidey-text {
    color: #777;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    margin: 0; /* Remove margin to reduce space */
}

p.copyright {
    color: #777; /* Set text color to grey */
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif; /* Change font to Lora */
}

p {
    color: #777; /* Set text color to grey */
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif; /* Change font to Noto Sans */
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    color: #fff; /* Change icon color */
    margin: 0 10px; /* Space between icons */
    font-size: 15px; /* Adjust icon size */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Enable width/height settings */
    width: 38px; /* Width of circular frame */
    height: 38px; /* Height of circular frame */
    border-radius: 50%; /* Makes the frame circular */
    background-color: rgba(255, 255, 255, 0.2); /* Optional background color */
    line-height: 60px; /* Center icon vertically */
}

.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Hover effect */
}



footer {
    margin-top: 20px;
}

/* --------- */







/* ------- */

body {
    margin: 1;
    overflow: hidden;
}

.snowfall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* ---- */

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff; /* Adjust border style as needed */
    border-radius: 50%;
    box-sizing: border-box;
    /* animation: pulseAnimation 2s infinite altern
ate;  Adjust animation properties as needed */
}

@keyframes pulseAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}