/* style.css */

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 0; /* Added space at the top */
    text-align: center;
    /* background-color: #16151B;  Dark grey background color */
    color: #fff; /* Set text color to white for better visibility */
    user-select: none;

    background-image: url('images/image.png');
    background-size: cover; /* This makes sure the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background static when scrolling */
    background-repeat: no-repeat; /* Prevents the image from repeating */

}

header {
    margin-bottom: 20px;
    margin-top: 50px; /* Added space at the top */
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Create a circular frame */
    overflow: hidden; /* Ensure content stays within the circular frame */
    background-size: cover;
    margin: 0 auto; /* Center the profile picture */
}

h1, p {
    margin: 10px 0;
}

h1 {
    font-family: 'Ubuntu', sans-serif; /* Set the font-family to Ubuntu */
    font-weight: bold; /* Set the text to normal weight (not bold) */
        margin: 7px 0; /* Adjust the top and bottom margin as needed */
}

p.spidey-text {
    color: #777;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    margin: 0; /* Remove margin to reduce space */
}

p.copyright {
    color: #777; /* Set text color to grey */
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif; /* Change font to Lora */
}

p {
    color: #777; /* Set text color to grey */
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif; /* Change font to Noto Sans */
}

/* Add space between social icons and Spotify embed */
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add margin at the bottom */
}

/* Add margin to the individual social icons */
.social-icon {
    width: 38px;
    height: 38px;
    margin: 0 4px; /* Adjust the margin as needed */
    background-size: cover;
    transition: opacity 0.3s ease;
}

/* Add space between the social icons and the Spotify embed */
.spotify-embed {
    justify-content: center;
    margin-top: 40px; /* Add margin at the top */
}

.social-icon:hover,
.social-icon.clicked {
    opacity: 0.7; /* Change opacity on hover and when clicked */
}

.discord {
    background-image: url('pictures/discord-logos.png');
}

.instagram {
    background-image: url('pictures/insta-logos.png');
}

.spotify {
    background-image: url('pictures/spotify-logos.png');
}

.tiktok {
    background-image: url('pictures/tiktok-logos.png');
}

.brawlstars {
  background-image: url('pictures/brawlstars-logo.png');
}

footer {
    margin-top: 20px;
}

/* ------- */

body {
    margin: 1;
    overflow: hidden;
}

.snowfall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* ---- */

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff; /* Adjust border style as needed */
    border-radius: 50%;
    box-sizing: border-box;
    animation: pulseAnimation 2s infinite alternate; /* Adjust animation properties as needed */
}

@keyframes pulseAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
